.dashboard-container {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 9px 12px;
    width:250px;
}
.dashboard-page{
    display: flex;
    gap: 2%;
}
.header-dashboard h1{
    margin: 0;
}
